body { 
	margin: 0; 
	padding: 0; 
	background-color: #e9e9e9;
	font-family: "Helvetica", "Arial", sans-serif;
}

/* work around zepto's table handling */
div.table { display: table; }
div.tr  { display: table-row;}
div.td { display: table-cell; }

#modalWrapper{ 
	position: absolute; 
	top: 0; 
	z-index: 10; 
	width: 100%; 
	height: 100%; 
	background: #000; 
	text-align: center;
	display: none;
} 
#modal { 
	position: absolute;
	top: 45px;
	right: 45px;
	left: 45px;
	bottom: 45px;
	background: white; 
	margin: auto;
	border-radius: 7px;
	font-size:14px;
}
#modal.videoModal {
	position: static;
	padding: 30px;
	margin: 45px;
}

#closeModal {
	position: absolute;
	top: 30px;
	right: 30px;
	display: block;
	background-image: url('images/closeModal-bg.png');
	background-repeat: no-repeat;
	width: 45px;
	height: 45px;
	overflow: hidden;
	text-indent: 400px;
}
#videoContainer {
	position: absolute;
	top: 30px;
	bottom: 30px;
	left: 30px;
	right: 30px;
	overflow: auto;
	background-color: #cccccc;
	border: 1px solid #cccccc;
}
#videoContainer{
	position:static;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
	background-color: transparent;
	border-width: 0;
}

#videoViewer {
	max-width: 100%;
	max-height: 100%;
}

#header {
	background-color: #272727;
	height: 3em;
	position: fixed;
	top: 0px;
	text-align: center;
	width: 100%;
	font-size: 1em;
	color: #ffffff;
}

#header #backButton a {
	position: absolute;
	top: 0;
	left:0;
	z-index: 1;
	background-image: url('images/header-backButton-bg.png');
	background-repeat: no-repeat;
	width: 13px;
	height: 17px;
	overflow: hidden;
	text-indent: 400px;
	border: 0px solid transparent;
	border-width: 14px 0 0 24px;
	
}

#header #pageTitle {
	padding-top: 1em;
	position: absolute;
	top: 0;
	left:0;
	z-index: 0;
	width: 100%;
}

#contentWrapper { 
	position: fixed;
	top: 48px;
	bottom: 79px;
	height: auto;
	width: 100%;
}

/* Content */
#content { 
	padding: 1em;
}

/* Footer */
#footer { 
	background-color: #010101;
	height: 4em;
	position: fixed;
	bottom: 0px;
	display:-webkit-box;
	-webkit-box-pack:center;
	width: 100%;
}
#footer ul { 
	margin: auto;
	padding: 0;
	height: 4em;
}
#footer ul li { 
	display: block;
	margin: 0;
	padding: 0;
	float:left;
}
#footer ul li a { 
	font-size: 1em;
	color: #cccccc;
	text-decoration: none;
	display: block;
	padding: 2.5em 1.5em .5em 1.5em;
	text-align: center;
	border-left: 1px solid #ccc;
}
#footer ul li:last-child a { 
	border-right: 1px solid #ccc;
}

/* page template content */


/* CONTENT */
.listView {
	border-bottom: 1px solid black;
	background: #fff;
	border-radius: .5em;
	border: 1px solid black;
}

.listViewItem a {
	display: block;
	border-top: 1px solid black;
	padding: 1em;
	text-decoration: none;
	color: #000;
	background-image: url('images/listViewItem-a-bg.png');
	background-position: top right;
	background-repeat: no-repeat;
}
.listViewItem:first-child a {
	border-top-width: 0;
}



#itemFieldsList {
	border-bottom: 1px solid black;
	background: #fff;
	border-radius: .5em;
	border: 1px solid black;
}
.itemFieldsListItemTemplate {
	clear: both;
	border-top: 1px solid black;
	padding: 1em;
}
.itemFieldsListItem0 {
	border-top-width: 0;
}

.itemFieldsListItemTemplate .key {
	float: left;
	width: 24%;
	font-weight: bold;
}
.itemFieldsListItemTemplate .value {
	float: left;
	margin-left: 25%;
}

